<!DOCTYPE html
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ContactUs</title>
    {% include 'vocal_app/common/common_css.html' %}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
         body{

            background-image: url("{%static 'vocal_app/images/call bg.png'%}");
            background-repeat:no-repeat;
            background-size: cover;
        }
   
        div.reg-form{
            margin-left: auto;
            margin-right: auto;
            /* background-color: rgb(112, 112, 56); */
            margin-top: 20px;
            border:3px solid red ;
            border-radius: 10px;
            width: 30%;
    
    
        }
    
         </style>
</head>
<body background-color: rgb(103, 157, 204)>
    <div class="main-body">
    
    
    {% include 'vocal_app/common/navbar.html' %}



     
    <!-- form code start -->

    <div class="container-fluid" style="background-color: antiquewhite;text-align: center;">
        <h4 style="color: rebeccapurple;">Fill The  Form for any query and call us <i class="fas fa-mobile-alt"></i>65437899</h4>
    </div>
    {% if messages%}

{%for m in messages%}
<div class="alert alert-warning alert-dismissible fade show text-centre" role="alert" style="margin-top: 50px;width:50%;margin-left: auto;margin-right: auto;">
    <strong>{{m}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
{% endif %}
    <form method="post" action="/contact_us/" novalidate class="needs-validation" autocomplete="off">

        {%csrf_token%}
        
    <div class="reg-form">


<div class="form-floating mb-3">
    <input type="text" name="u_name" id="name" class="form-control"required placeholder="Enter name here" oninput="validateInput(event)">
    <label for="name">Enter name here</label>
    <div class="invalid-feedback">
        Please provide your Name.
      </div>
</div>


<div class="form-floating mb-3">
    <input type="email" name="u_email" id="email" class="form-control"required placeholder="Enter email here">
    <label for="email">Enter email</label>
    <div class="invalid-feedback">
        Please provide a valid EMAILID.
      </div>
</div>
<div class="form-floating mb-3">
    <input type="text" name="u_phone" id="user_phone" class="form-control"required placeholder="Enter phone here" maxlength="10">
    <label for="phone">Enter phone number here</label>
    <div class="invalid-feedback">
        Please provide a valid Phone No.
      </div>
</div>


<div class="form-floating mb-3">
    <textarea name="u_question" id="question" class="form-control" required placeholder="Enter Your Question"></textarea>
    <label for="question" class="form-label">Enter your Question here</label>
    <div class="invalid-feedback">
        Please provide your Question here.
      </div>

</div>

<div class="text-center">
    <!-- <button type="reset" class="btn btn-danger">Reset</button> -->
    <button type="submit" class="btn btn-success">Submit</button>


</div>



</div>








    </div>

</form>



     <!-- form code end -->


</div>
{% include 'vocal_app/common/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        function validateInput(event) {
        const input = event.target.value;
        const regex = /^[a-zA-Z ]*$/; // Regular expression to match only characters
        if (!regex.test(input)) {
        // If input contains anything other than characters, remove them
        event.target.value = input.replace(/[^a-zA-Z]/g, '');
        // alert("only aplhabets allowed")
        Swal.fire("Only Alphabets are allowed");
        }
        }
        </script>

<!-- for digits validation -->

<script>

    document.getElementById('user_phone').addEventListener('keydown', function(event) {
    // Allow only digits and backspace/delete keys
    if (!(event.key === 'Backspace' || event.key === 'Delete' || /\d/.test(event.key))) {
    // alert("Only 10 digits are allowed")
    Swal.fire("Only 10 digits are allowed");
    event.preventDefault();
    }
    });
    
    </script>
    <script src="{%static 'vocal_app/js/custom_validation.js'%}"></script>
</body>
</html>